{% extends "../base.html" %}

{% block titulo %} Panel - RedSocial {% endblock %}

{% block contenido_principal %}


<!-- Contenido -->
<main class="app-content"> <!-- Titulo-Cabecera -->
    <div class="app-title">
        <div>
            <h1>
                <i class="fa fa-dashboard"></i> Chat
            </h1>
            <p>Aquí puedes chatear con tus amigos</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Chat</a></li>
        </ul>
    </div>

    <!--CHAT-->
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary btn-lg btn-block" type="button">Mis chats</button>
            <hr/>
            <form class="navbar-form" method="get" action="#">
                <div class="row">
                    <div class="col-md-6">
                        <input name="busqueda" type="text" class="form-control" size="80"
                               placeholder="Buscar chat">
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-md" type="submit"><i
                                class="fa fa-lg fa-fw fa fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </form>
            <hr/>
            <div class="list-group">
                <a href="#" class="list-group-item active"><img
                        src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                        width="48" height="48"> Usuario1 <span class="badge badge-danger">1</span></a>
                <a href="#" class="list-group-item"><img
                        src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                        width="48" height="48"> Usuario2</a>
                <a href="#" class="list-group-item"><img
                        src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                        width="48" height="48"> Usuario3</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tile">
                <h3 class="tile-title">Chat</h3>
                <div class="messanger">
                    <div class="messages">
                        <div class="message">
                            <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                                 width="48" height="48">
                            <p class="info">Hola, <br>Que tal</p>
                        </div>
                        <div class="message me">
                            <!-- Editar mensaje -->
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true" aria-expanded="false">

                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-sg fa-fw fa-info-circle"></i>Información del mensaje</a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-sg fa-fw fa-edit"></i>Editar mensaje</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-sg fa-fw fa-trash"></i>Eliminar mensaje</a>
                                </div>
                            </div>
                            <!-- Mensaje -->
                            <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                                 width="48" height="48">
                            <p class="info">Bien tu?</p>
                            <i class="fa fa-sg fa-fw fa-check" style="color:dodgerblue"
                               data-toggle="tooltip" data-placement="left" title=""
                               data-original-title="Leido a las 20:00"></i>
                        </div>
                        <div class="message">
                            <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                                 width="48" height="48">
                            <p class="info">Correctamente</p>
                        </div>
                        <div class="message me">
                            <!-- Editar mensaje -->
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true" aria-expanded="false">

                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-sg fa-fw fa-info-circle"></i>Información del mensaje</a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-sg fa-fw fa-edit"></i>Editar mensaje</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-sg fa-fw fa-trash"></i>Eliminar mensaje</a>
                                </div>
                            </div>
                            <!-- Mensaje -->
                            <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                                 width="48" height="48">
                            <p class="info">Me parece correcto</p>
                            <i class="fa fa-sg fa-fw fa-check" style="color:grey"
                               data-toggle="tooltip" data-placement="left" title=""
                               data-original-title="Leido a las 20:00"></i>
                        </div>
                    </div>
                    <div class="sender">
                        <input type="text" placeholder="Send Message">
                        <button class="btn btn-primary" type="button"><i class="fa fa-lg fa-fw fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>


{% endblock %}
