{% extends "../base.html" %}

{% block titulo %} Publicaciones - RedSocial {% endblock %}

{% block contenido_principal %}


<!-- Contenido -->
<main class="app-content">

    <div class="app-title">
        <div>
            <h1>
                <i class="fa fa-comment-o"></i> <span>Comentarios</span>
            </h1>
            <p>Post: Titulo</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Comentarios</a></li>
        </ul>
    </div>

    <!-- Post -->
    <div class="row user">
        <div class="col-md-12">
            <div class="timeline-post">
                <div class="post-media">
                    {% if post.autor.foto_perfil != "" %}
                    <a href="#">
                        <img src="{{ post.autor.foto_perfil }}"
                             width="48" height="48">
                    </a>
                    {% else %}
                    <a href="#">
                        <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                             width="48" height="48">
                    </a>
                    {% endif %}

                    <div class="content">
                        <h5>
                            <a href="/users/perfil/?username={{ post.autor.username }}">{{ post.autor.username }}</a>
                        </h5>
                        <p class="text-muted">
                            <small>{{ post.fecha.getDate() }}/{{ post.fecha.getMonth() }}/{{ post.fecha.getFullYear()
                                }}
                            </small>
                        </p>
                    </div>
                </div>
                <div class="post-content">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="/post/publicacion/edit/{{ post._id.toString() }}"><i
                                class="fa fa-lg fa-edit"></i></a>
                        <button class="btn btn-primary delPost" href="/post/list" id="{{ post._id.toString() }}"><i
                                class="fa fa-lg fa-trash"></i></button>
                    </div>
                    <h4>{{ post.titulo }}</h4>
                    <p>{{ post.contenido }}</p>
                </div>
                {% if post.tiene_foto %}
                <img style="height: 200px; width: 400px; display: block;"
                     src="/img/post/{{ post._id.toString() }}.png"
                     alt="Imagen del post">
                {% endif %}
                <ul class="post-utility">

                    <!-- Si no dio like -->
                    {% if post.dioLike == false %}
                    <form action="/users/darLike" method="post">
                        <input type="hidden" name="like" value="{{ post._id.toString() }}" />
                        <button type="submit" class="btn btn-outline-primary">
                            <li class="likes">
                                <i class="fa fa-fw fa-lg fa-thumbs-o-up"></i><span>Like</span>
                            </li>
                        </button>
                    </form>
                    <!-- Si dio like -->
                    {% else %}
                    <form action="/users/quitarLike" method="post">
                        <input type="hidden" name="like" value="{{ post._id.toString() }}" />
                        <button class="btn btn-success">
                            <li class="likes"><i
                                    class="fa fa-fw fa-lg fa-thumbs-o-up" style="color:white"></i>
                                <span>Te gusta este post</span></li>
                        </button>
                    </form>
                    {% endif %}

                    <li class="comments"><i class="fa fa-fw fa-lg fa-comment-o"></i> <span>{{ post.comentarios.length }}</span>
                        <span>Comentarios</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        {% for coment in post.comentarios %}
        <div class="col-md-6 bs-component">
            <!-- Comentario 1 -->
            <div class="bs-component">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ coment.titulo }}</h5>
                        </div>
                        <div class="modal-body">
                            <p>{{ coment.contenido }}</p>
                        </div>
                        <div class="modal-header">
                            {% if post.autor.foto_perfil != "" %}
                            <a href="#">
                                <img src="{{ coment.autor.foto_perfil }}"
                                     width="48" height="48">
                            </a>
                            {% else %}
                            <a href="#">
                                <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                                     width="48" height="48">
                            </a>
                            {% endif %}
                            <div class="content">
                                <h5>
                                    <a href="#">{{ coment.autor.username }}</a>
                                </h5>
                                <p class="text-muted">
                                    <small>{{ coment.fecha.getDate() }}/{{ coment.fecha.getMonth() }}/{{
                                        coment.fecha.getFullYear() }}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>


    <div class="row">
        <div clas="col-md-12">
            <!-- Escribir comentario -->
            <div class="bs-component">
                <div class="modal"
                     style="position: relative; top: auto; right: auto; left: auto; bottom: auto; z-index: 1; display: block;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-header">
                            <h4 class="modal-title">Envia un mensaje</h4>
                        </div>
                        <form class="modal-content" method="post" action="/post/comentario/{{ post._id.toString() }}">
                            <div class="modal-header">
                                <input class="form-control" type="text" placeholder="Titulo comentario" name="titulo"
                                       required="true">
                            </div>
                            <div class="modal-body">
								<textarea class="form-control" rows="5"
                                          placeholder="Contenido comentario" name="contenido"
                                          required="true"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-fw fa-lg fa-check-circle"></i> <span>Enviar</span>
                                </button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i
                                    class="fa fa-fw fa-lg fa-times-circle"></i><span>Cancelar</span></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


</main>


{% endblock %}