{% extends "base.html" %}

{% block titulo %} Panel - RedSocial {% endblock %}

{% block contenido_principal %}


<!-- Contenido -->
<main class="app-content"> <!-- Titulo-Cabecera -->
    <div class="app-title">
        <div>
            <h1>
                <i class="fa fa-dashboard"></i> Panel
            </h1>
            <p>Aquí puedes ver todos los post</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#" >Panel</a></li>
        </ul>
    </div>

    <!--Amigos, Likes, Comentarios, Post-->
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="widget-small primary coloured-icon">
                <i class="icon fa fa-users fa-3x"></i>
                <div class="info">
                    <h4>Amigos</h4>
                    <p>
                        <b>{{ numAmigos }}</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small info coloured-icon">
                <i class="icon fa fa-thumbs-o-up fa-3x"></i>
                <div class="info">
                    <h4>Likes</h4>
                    <p>
                        <b>{{ likes.length }}</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small warning coloured-icon">
                <i class="icon fa fa-file fa-3x"></i>
                <div class="info">
                    <h4>Post</h4>
                    <p>
                        <b>{{ numPosts }}</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="widget-small danger coloured-icon">
                <i class="icon fa fa-comment fa-3x"></i>
                <div class="info">
                    <h4>Comentarios</h4>
                    <p>
                        <b>{{ numComentarios }}</b>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4">
            <h2>Buscar Publicaciones</h2>
        </div>
        <div class="col-md-8">
            <form class="navbar-form" method="get" action="/panel">
                <div class="sender row">
                    <div class="col-md-6">
                        <input name="busqueda" type="text" class="form-control" size="80"
                               placeholder="Buscar Titulo">
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-lg fa-fw fa fa-search"></i>
                            <span>Buscar</span></button>
                        <button class="btn btn-secondary" href="#">Resetear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br>

    <!-- Post -->
    <div class="row user">
        {% for p in post %}
        <!-- POST 1-->
        <div class="col-md-6">
            <div class="timeline-post">
                <div class="post-media">
                    {% if p.autor.foto_perfil != "" %}
                        <a href="#">
                            <img src="{{ p.autor.foto_perfil }}"
                                 width="48" height="48">
                        </a>
                    {% else %}
                        <a href="#">
                            <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_circle_blue_512dp.png"
                                 width="48" height="48">
                        </a>
                    {% endif %}

                    <div class="content">
                        <h5>
                            <a href="/users/perfil/?username={{ p.autor.username }}">{{ p.autor.username }}</a>
                        </h5>
                        <p class="text-muted">
                            <small>{{ p.fecha.getDate() }}/{{ p.fecha.getMonth() }}/{{ p.fecha.getFullYear() }}</small>
                        </p>
                    </div>
                </div>
                <div class="post-content">
                    <h4>{{ p.titulo }}</h4>
                    <p>{{ p.contenido }}</p>
                </div>
                {% if p.tiene_foto %}
                    <img style="height: 200px; width: 400px; display: block;"
                        src="/img/post/{{ p._id.toString() }}.png"
                        alt="Imagen del post">
                {% endif %}
                <ul class="post-utility">

                    <!-- Si no dio like -->
                    {% if p.dioLike == false %}
                    <form action="/users/darLike" method="post">
                        <input type="hidden" name="like" value="{{ p._id.toString() }}" />
                        <button type="submit" class="btn btn-outline-primary">
                            <li class="likes">
                                <i class="fa fa-fw fa-lg fa-thumbs-o-up"></i><span>Like</span>
                            </li>
                        </button>
                    </form>
                    <!-- Si dio like -->
                    {% else %}
                    <form action="/users/quitarLike" method="post">
                        <input type="hidden" name="like" value="{{ p._id.toString() }}" />
                        <button class="btn btn-success">
                            <li class="likes"><i
                                    class="fa fa-fw fa-lg fa-thumbs-o-up" style="color:white"></i>
                                <span>Te gusta este post</span></li>
                        </button>
                    </form>
                    {% endif %}

                    <button class="btn btn-light">
                        <li class="shares"><a href="/post/publicacion/{{ p._id.toString() }}"><i
                                class="fa fa-fw fa-lg fa-comments"></i> <span style="color:gray">Comentar</span></a>
                        </li>

                    </button>
                    <li class="comments"><i class="fa fa-fw fa-lg fa-comment-o"></i> <span>{{ p.comentarios.length }}</span>
                        <span>Comentarios</span></li>

                </ul>
            </div>
        </div>
        {% endfor %}

    </div>

    <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
    <div class="row text-center">
        <ul class="pagination">
            <!-- Primera -->
            <li class="page-item">
                <a class="page-link" href="/panel?pg=1">Primera</a>
            </li>
            <!-- Anterior (si la hay ) -->
            {% if pgActual-1 >= 1 %}
            <li class="page-item">
                <a class="page-link" href="/panel?pg={{ pgActual -1 }}">{{ pgActual -1 }}</a>
            </li>
            {% endif %}
            <!-- Actual -->
            <li class="page-item active">
                <a class="page-link" href="/panel?pg={{ pgActual }}">{{ pgActual }}</a>
            </li>
            <!-- Siguiente (si la hay) -->
            {% if pgActual+1 <= pgUltima %}
            <li class="page-item">
                <a class="page-link" href="/panel?pg={{ pgActual+1 }}">{{ pgActual+1 }}</a>
            </li>
            {% endif %}
            <!-- Última -->
            <li class="page-item">
                <a class="page-link" href="/panel?pg={{ pgUltima }}">Última</a>
            </li>
        </ul>
    </div>

</main>


{% endblock %}