<!DOCTYPE html>
<html>
<!-- HEAD -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!-- Font-awesome-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>

    <title>Error 400 - RedSocial</title>
</head>
<body>
<div class="page-error">
    <h1>
        <i class="fa fa-exclamation-circle"></i> <span id="error">{{ error }}</span>
    </h1>
    <p>{{ mensaje }}</p>
</div>
</body>
<!-- JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="js/plugins/pace.min.js"></script>

</html>